backups/n8n/kX2G1iy8AuHuqTR9-20260321T222707Z.json
[{"updatedAt":"2026-03-21T22:24:16.000Z","createdAt":"2026-03-15T02:51:21.105Z","id":"kX2G1iy8AuHuqTR9","name":"Apple Health Logger","description":null,"active":true,"isArchived":false,"nodes":[{"id":"wh-001","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"parameters":{"httpMethod":"POST","path":"apple-health","options":{}},"webhookId":"c33ac678-d743-4b70-9268-152f47ff2a0a"},{"id":"code-001","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[200,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"let data = $input.first().json;\nif (data.body && typeof data.body === 'object') {\n  data = data.body;\n}\n\nconst hr = parseFloat(data.heart_rate || data.heartRate || 0);\nconst glRaw = parseFloat(data.glucose || 0);\nconst gl = Number.isFinite(glRaw) ? Number((glRaw / 18).toFixed(1)) : 0;\nconst wt = parseFloat(data.weight || data.body_mass || 0);\nconst sl = parseFloat(data.sleep || data.sleep_hours || 0);\n\nconst hrAlert = hr > 85;\nconst glAlert = gl > 6.0;\nconst slAlert = sl < 6;\nconst status = (hrAlert || glAlert || slAlert) ? '🔴' : '🟢';\nconst ts = data.timestamp || new Date().toISOString();\n\nconst icon = bad => bad ? '⚠️' : '✅';\nconst line = (label, val, unit, bad, note) =>\n  icon(bad) + ' ' + label + ': ' + (val || '-') + ' ' + unit + (bad ? ' — ' + note : '');\n\nconst msg = [\n  '🏥 Health Report · ' + ts, '',\n  line('Пульс', hr, 'уд/мин', hrAlert, 'выше нормы'),\n  line('Глюкоза', gl, 'mmol/L', glAlert, 'выше нормы'),\n  line('Вес', wt, 'кг', false, ''),\n  line('Сон', sl, 'ч', slAlert, 'мало'), '',\n  status + (status === '🔴' ? ' Есть отклонения' : ' Всё в норме'),\n].join('\\n');\n\nreturn [{ json: {\n  timestamp: ts,\n  heart_rate: hr, glucose_raw: glRaw, glucose_mmol: gl, weight: wt, sleep_hours: sl,\n  hr_alert: hrAlert, glucose_alert: glAlert, sleep_alert: slAlert,\n  status, telegram_text: msg,\n  csv_row: ts + ',' + hr + ',' + glRaw + ',' + gl + ',' + wt + ',' + sl + ',' + hrAlert + ',' + glAlert + ',' + slAlert + ',' + status\n}}];"}},{"id":"tg-001","name":"Send a text message","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[400,-160],"parameters":{"chatId":"812770094","text":"={{ $json.telegram_text }}","additionalFields":{}},"credentials":{"telegramApi":{"id":"L2AKWkaMGwfHaf9v","name":"Telegram account"}}}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"232a648e-a3ca-4ba1-9dd5-f7ed6555aa19","activeVersionId":"232a648e-a3ca-4ba1-9dd5-f7ed6555aa19","versionCounter":20,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-15T02:51:21.106Z","createdAt":"2026-03-15T02:51:21.106Z","role":"workflow:owner","workflowId":"kX2G1iy8AuHuqTR9","projectId":"2aoOLERYXBNy4RLs","project":{"updatedAt":"2026-03-15T00:32:57.973Z","createdAt":"2026-03-14T23:32:27.483Z","id":"2aoOLERYXBNy4RLs","name":"Merdan Bashimov <local@n8n.test>","type":"personal","icon":null,"description":null,"creatorId":"2086a499-85c0-423e-a518-6cb1d75e3ad3"}}],"versionMetadata":{"name":null,"description":null}}]