workflows/health-agent-webhook-secure-csv.workflow.json
{
  "name": "Health Agent Webhook Secure CSV",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "apple-health-secure",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7a0d8ce2-95c4-4d23-9f6d-3ed32c4f1001",
      "name": "Apple Health Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1200,
        260
      ],
      "webhookId": "apple-health-secure"
    },
    {
      "parameters": {
        "jsCode": "const expected = $env.HEALTH_AGENT_WEBHOOK_SECRET || '';\nconst headers = $json.headers || {};\nconst provided = headers['x-health-agent-secret'] || headers['X-Health-Agent-Secret'] || '';\nconst authorized = !!expected && provided === expected;\n\nreturn [{\n  json: {\n    authorized,\n    has_secret_configured: !!expected,\n    body: $json.body ?? $json,\n    headers,\n  },\n}];"
      },
      "id": "7a0d8ce2-95c4-4d23-9f6d-3ed32c4f1002",
      "name": "Check Shared Secret",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.authorized }}",
              "value2": true
            }
          ]
        }
      },
      "id": "7a0d8ce2-95c4-4d23-9f6d-3ed32c4f1003",
      "name": "Authorized?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -720,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: false,\n    error: 'Unauthorized',\n    message: $json.has_secret_configured\n      ? 'Missing or invalid X-Health-Agent-Secret header.'\n      : 'Webhook secret is not configured in n8n.',\n  },\n}];"
      },
      "id": "7a0d8ce2-95c4-4d23-9f6d-3ed32c4f1004",
      "name": "Build Unauthorized Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        380
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "7a0d8ce2-95c4-4d23-9f6d-3ed32c4f1005",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -240,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? {};\n\nconst toNullableNumber = (value) => {\n  if (value === null || value === undefined || value === '') return null;\n  const num = Number(value);\n  return Number.isFinite(num) ? num : null;\n};\n\nconst glucoseRaw = toNullableNumber(body.glucose);\nconst glucoseMmol = glucoseRaw === null ? null : Number((glucoseRaw / 18).toFixed(1));\n\nconst payload = {\n  heart_rate: toNullableNumber(body.heart_rate),\n  glucose_raw: glucoseRaw,\n  glucose_mmol: glucoseMmol,\n  weight: toNullableNumber(body.weight),\n  sleep_hours: toNullableNumber(body.sleep_hours),\n  timestamp: typeof body.timestamp === 'string' && body.timestamp.trim()\n    ? body.timestamp.trim()\n    : new Date().toISOString(),\n};\n\nreturn [{\n  json: {\n    payload,\n    received_at: new Date().toISOString(),\n  },\n}];"
      },
      "id": "7a0d8ce2-95c4-4d23-9f6d-3ed32c4f1006",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.payload || {};\nconst alerts = [];\n\nif (payload.heart_rate !== null && payload.heart_rate > 85) alerts.push(`High heart rate: ${payload.heart_rate} bpm`);\nif (payload.glucose_mmol !== null && payload.glucose_mmol > 6.0) alerts.push(`High glucose: ${payload.glucose_mmol} mmol/L`);\nif (payload.sleep_hours !== null && payload.sleep_hours < 6) alerts.push(`Low sleep: ${payload.sleep_hours} hours in the last 24h`);\n\nconst csvLine = [\n  $json.received_at,\n  payload.timestamp,\n  payload.heart_rate ?? '',\n  payload.glucose_raw ?? '',\n  payload.glucose_mmol ?? '',\n  payload.weight ?? '',\n  payload.sleep_hours ?? '',\n  alerts.length,\n  `\"${alerts.join('; ').replace(/\"/g, '\"\"')}\"`\n].join(',');\n\nconst lines = [\n  'HEALTH AGENT ALERT',\n  `Timestamp: ${payload.timestamp}`,\n  '',\n  `heart_rate: ${payload.heart_rate ?? 'null'}`,\n  `glucose_mmol: ${payload.glucose_mmol ?? 'null'}`,\n  `weight: ${payload.weight ?? 'null'}`,\n  `sleep_hours: ${payload.sleep_hours ?? 'null'}`,\n  '',\n  alerts.length ? 'Alerts:' : 'No alerts triggered.',\n];\n\nfor (const alert of alerts) lines.push(`- ${alert}`);\n\nconst hasTelegram = !!($env.TELEGRAM_BOT_TOKEN && $env.TELEGRAM_CHAT_ID);\nconst sendTelegram = alerts.length > 0 && hasTelegram ? 1 : 0;\n\nreturn [{\n  json: {\n    payload,\n    received_at: $json.received_at,\n    alerts,\n    alert_count: alerts.length,\n    csv_line: csvLine,\n    csv_path: $env.HEALTH_AGENT_CSV_PATH || '/data/health-agent/health-log.csv',\n    send_telegram: sendTelegram,\n    telegram_text: lines.join('\\n'),\n  },\n}];"
      },
      "id": "7a0d8ce2-95c4-4d23-9f6d-3ed32c4f1007",
      "name": "Build Alerts And CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.alert_count || 0 }}",
              "operation": "equal",
              "value2": 1
            }
          ]
        }
      },
      "id": "7a0d8ce2-95c4-4d23-9f6d-3ed32c4f1008",
      "name": "First Alert Row?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const header = 'received_at,payload_timestamp,heart_rate,glucose_raw,glucose_mmol,weight,sleep_hours,alert_count,alerts';\nreturn [{ json: { ...$json, csv_output: `${header}\\n${$json.csv_line}` } }];"
      },
      "id": "7a0d8ce2-95c4-4d23-9f6d-3ed32c4f1009",
      "name": "Add CSV Header",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, csv_output: $json.csv_line } }];"
      },
      "id": "7a0d8ce2-95c4-4d23-9f6d-3ed32c4f1010",
      "name": "CSV Without Header",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        220
      ]
    },
    {
      "parameters": {
        "fileName": "={{ $json.csv_path }}",
        "dataPropertyName": "csv_output",
        "options": {
          "append": true
        }
      },
      "id": "7a0d8ce2-95c4-4d23-9f6d-3ed32c4f1011",
      "name": "Append CSV Log",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        480,
        140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.send_telegram || 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "7a0d8ce2-95c4-4d23-9f6d-3ed32c4f1012",
      "name": "Send Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{$env.TELEGRAM_CHAT_ID}}\",\n  \"text\": $json.telegram_text\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "7a0d8ce2-95c4-4d23-9f6d-3ed32c4f1013",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        60
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: true,\n    telegram_sent: true,\n    alert_count: $json.alert_count,\n    alerts: $json.alerts,\n    payload: $json.payload,\n    csv_path: $json.csv_path,\n    received_at: $json.received_at,\n  },\n}];"
      },
      "id": "7a0d8ce2-95c4-4d23-9f6d-3ed32c4f1014",
      "name": "Build Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: true,\n    telegram_sent: false,\n    alert_count: $json.alert_count,\n    alerts: $json.alerts,\n    payload: $json.payload,\n    csv_path: $json.csv_path,\n    received_at: $json.received_at,\n  },\n}];"
      },
      "id": "7a0d8ce2-95c4-4d23-9f6d-3ed32c4f1015",
      "name": "Build Direct Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "7a0d8ce2-95c4-4d23-9f6d-3ed32c4f1016",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1440,
        140
      ]
    }
  ],
  "connections": {
    "Apple Health Webhook": {
      "main": [
        [
          {
            "node": "Check Shared Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Shared Secret": {
      "main": [
        [
          {
            "node": "Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorized?": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Unauthorized Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Unauthorized Response": {
      "main": [
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Build Alerts And CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alerts And CSV": {
      "main": [
        [
          {
            "node": "First Alert Row?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Alert Row?": {
      "main": [
        [
          {
            "node": "Add CSV Header",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CSV Without Header",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add CSV Header": {
      "main": [
        [
          {
            "node": "Append CSV Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV Without Header": {
      "main": [
        [
          {
            "node": "Append CSV Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append CSV Log": {
      "main": [
        [
          {
            "node": "Send Telegram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram?": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Direct Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Alert": {
      "main": [
        [
          {
            "node": "Build Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Direct Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "active": false,
  "versionId": "7a0d8ce2-95c4-4d23-9f6d-3ed32c4fabcd",
  "tags": []
}